.grey {
    color: grey;
}

.banner {
    height: 200px;
    width: 100%;
}

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    bottom: 40%;
    border: white 5px solid;
}

.edit-profile {
    color: black;
    font-weight: bold;
    border: 1px solid lightgrey;
    border-radius: 25px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}