.input-group-text.wd-search-box {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #eff3f4;
    border: none;
}

.form-control.wd-search-box {
    background-color: #eff3f4;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
    width: 10%;
}

.wd-user-icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
}

.wd-keyword {
    font-weight: bold;
}

.wd-rounded-btn {
    border-radius: 25px;
}

.wd-vertical-align {
    vertical-align: middle;
}

.wd-spacing {
    margin-top: 7px;
}

.wd-featured-tuit {
    position: relative;
}

.wd-featured-headline {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
}

.wd-grey-text {
    color: grey;
}

.wd-tuit-image {
    width: 90px;
    height: 90px;
    border-radius: 15px;
}

.list-group-item {
    border:none;
}

.list-group-item.active {
    background-color: white !important;
    color: black;
    font-weight: bold;
}

.nav-tabs {
    border: none;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-weight: bold;
    color: grey;
    padding-bottom: 15px;
}

.nav-link.active {
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #1d9bf0 !important;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

i {
    height: 15px;
    width: 15px;
}

.btn {
    font-weight: bold;
    color: white;
}

.btn-primary {
    background-color: #1d9bf0;
    border: none;
}

.btn-primary:hover {
    background-color: #1d9bf0;
}

.wd-main-content {
    border-left: 1px solid #eff3f4;
    border-right: 1px solid #eff3f4;
    padding-left: 0;
    padding-right: 0;
}

.wd-trending-topics {
    border-top: 1px solid #eff3f4;
    border-bottom: 1px solid #eff3f4;
    border-radius: 0;
}

.wd-list-item-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.wd-suggested-accounts {
    border-radius: 20px;
}

.wd-suggested-accounts li {
    background-color: #eff3f4;
    padding-top: 15px;
    padding-bottom: 15px;
}
