.wd-page-title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 16px;
    padding-top: 12px;
}

.wd-user-handle {
    font-size: 13px;
    color: #767676;
    padding-left: 16px;
    padding-bottom: 12px;
}

.wd-tuit {
    column-span: all;
    border-bottom: 1px solid rgb(47, 51, 54);
    padding-bottom: 12px;
    padding-top: 12px;
    clear: both;
}

.wd-tuit-avatar {
    margin-left: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
}

.wd-tuit-body {
    padding-left: 12px;
    margin-right: 16px;
    float: left;
    font-size: 15px;
    inline-size: 506px;
    max-width: 506px;
}

.wd-tuit-bold {
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.wd-tuit-header {
    font-size: 15px;
    color: #767676;
}

.wd-tuit-link-preview {
    width: 504px;
    border: 1px solid rgb(47, 51, 54);
    border-radius: 25px;
    margin-top: 12px;
}

.wd-tuit-preview-image {
    width: 100%;
    height: 264px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-tuit-preview-text {
    width: 504px;
    padding: 12px;
    font-size: 15px;
    color: #767676;
}

.wd-tuit-footer {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.wd-tuit-icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.wd-tuit-stats {
    font-size: 15px;
    color: #767676;
    display: flex;
    align-items: flex-start;
}

.wd-active-icon {
    color: red;
}